@{
    ViewData["Title"] = "Home Page";
}

<custom-view-component vc>
    <p>My Default Slot Content!</p>
    <p vc:slot="first">My First Slot Content!</p>
    <p vc:slot="second">My Second Slot Content!</p>

    <custom-view-component vc vc:slot="nested">
        <p>My NESTED Default Slot Content!</p>
        <p vc:slot="first">My NESTED First Slot Content!</p>
        <p vc:slot="second">My NESTED Second Slot Content!</p>
    </custom-view-component>

    <p>More Default Slot Content!</p>
</custom-view-component>